<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h1>New Comment</h1>

<%= render 'comments/form', comment: @comment %>


<!-- 
<%= form_with model: @comment do |form| %>
  
   <%= form.label :body %><br>
    <%= form.text_area :body %>
  <%= form.submit %>
<% end %>
 -->

 <%=link_to 'view file', @post.file_upload %>
 <%=link_to 'download', @post.file_upload, download: '' %>
 <%= link_to 'Remove image', delete_image_attachment_path(:id=>@post.file_upload.id), method: :delete %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h1>Comments</h1>
<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.name %></td> 
        <td><%= comment.comment %></td>

        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
